In [1]:
import pandas as pd
from pandas import DataFrame, Series
import seaborn as sns
import numpy as np

In [7]:
data = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original", delim_whitespace = True, \
 header=None, names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model', 'origin', 'car_name'])

(406, 9)

# 1. How many cars and how many attributes are in the data set.

In [8]:
data.shape

(406, 9)

# 2.

In [11]:
#distict car
len(data['car_name'].unique())

312

In [22]:
# best MPG 
data.sort_values(by='mpg', ascending=False).head(1).car_name

329    mazda glc
Name: car_name, dtype: object

In [54]:
data['company'] = data['car_name'].str.split(' ').str.get(0)
data[data['cylinders']==8.0][['company','car_name']].drop_duplicates().groupby('company').count()

            car_name
company
amc                7
buick              6
cadillac           2
chevrolet         12
chevy              2
chrysler           4
dodge             12
ford              15
hi                 1
mercury            5
oldsmobile         6
plymouth           9
pontiac            5

In [58]:
## 3-cynlinder
data[data['cylinders']==3.0]['car_name'].drop_duplicates()

78     mazda rx2 coupe
118          maxda rx3
250         mazda rx-4
341      mazda rx-7 gs
Name: car_name, dtype: object